:root{
  --neutral-100: #F2F2F2;
  --neutral-150: #EEEEEE;
  --neutral-200: #E5E5E5;
  --neutral-300: #D1D1D1;
  --neutral-400: #A3A3A3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #3F3F3F;
  --neutral-800: #2A2A2A;
  --neutral-900: #1A1A1A;
  --neutral-950: #0E0E0E;
  --neutral-near-black: #0A0A0A;
  --neutral-near-white: #F7F7F7;
  --neutral-white: #FFFFFF;
  --type-size-sm: calc(1rem * 0.8750);
  --type-size-md: calc(1rem * 1.0000);
  --type-size-lg: calc(1rem * 1.1250);
  --space-4: calc(1rem * 0.2500);
  --space-8: calc(1rem * 0.5000);
  --space-12: calc(1rem * 0.7500);
  --space-16: calc(1rem * 1.0000);
  --space-24: calc(1rem * 1.5000);
  --radius-sm: 6px;
  --radius-md: 12px;
  --radius-lg: 16px;
  --radius-2xl: 20px;
  --shadow-xs: 0px 1px 2px rgba(0,0,0,0.07);
  --shadow-sm: 0px 2px 6px rgba(0,0,0,0.08);
  --shadow-md: 0px 8px 24px rgba(0,0,0,0.08);
  --motion-fast: 120ms;
  --motion-normal: 200ms;
  --motion-slow: 320ms;
  --ease-standard: cubic-bezier(0.2,0,0,1);
}
